service vendor.light-hal-2-0-meizu_msmnile /vendor/bin/hw/android.hardware.light@2.0-service.meizu_msmnile
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
